    <div class="add_btn" >
        <button type="button" class="btn btn-success btn-sm" ng-click="addRow()">Добавить
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteRow()">Удалить
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button type="button" class="btn btn-success btn_print_margin_left btn-sm" ng-click="saveListAppoinmentsAsFile()">Распечатать лист приемов
            <span class="glyphicon glyphicon-print"></span>
        </button>

     </div>

